@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

iframe { 
  width: 70vw;
  min-height: 60vh;
}
